	/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	/*BASE*/
body{
	font-size: 1em;
	font-family: Cambria, Georgia, serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.75);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
a{
	color: #890101;
	text-decoration: none;
	outline: none;
}
h1{
	font-size: 2em;
	font-family: Baskerville Old Face;
	font-style: italic;
	margin-bottom: 0.25em;
}
h2{
	font-size: 1.4em;
	margin: 0.75em 0 1em;
	background: url("../images/ornament.png") no-repeat 50% 50%;
}
p{
	font-size: 1em;
	line-height: 1.4;
}
span{
	font-size: 0.625em;
	line-height: 1.1;
	text-transform: uppercase;
}
b{
	display: block;
	font-size: 1.25em;
	font-family: "Book Antiqua", Georgia, serif;
	letter-spacing: 0.17em;
	font-weight: bold;
}
iframe{
	width: 100%;
	height: 100%;
}
footer{
	font-size: 0.750em;
	background: url("../images/ornament.png") 50% 0 repeat-x;
	padding: 40px 0 20px;
}
	/*PROJECT*/
.page{
	background:   url("../images/rag.png") repeat-x, url("../images/bg.png");
	padding: 2em 0;
}
.inner{
	position: relative;
	margin: 0 auto;
	width: 93.75%;
}
.mast{
	position: absolute;
	width: 100%;
}
.logo{
	float: left;
	width: 33%;
	text-align: center;
	background: url("../images/logo-bg.png") no-repeat 50% 0;
}
.nav,
.column-position{
	float: right;
	width: 65%;
	text-align: center;
}
.nav li{
	display: inline-block;
	width: 31.7297%;
	background: url("../images/ornament.png") 0 100% no-repeat;
	margin: 33px 0.95em 0 0;
}
.nav li:last-child{
	margin-right: 0;
}
.nav li:hover{
	background: url("../images/ornament.png") 50% 100% no-repeat;
}
.nav a{
	display: block;
	padding: 1em 0.5em 3em;
}
.logo a{
	display: block;
	padding-top: 117px;
	height: 162px;
}
.text{
	margin-top: 147px;
}
.characters li{
	float: left;
	width: 13.9%;
	margin: 0 3.3% 1.5em 0;
	text-align: center;
}
/* madal window for screen 1301px and more*/
.popup:before{
	position: relative;
	content: "";
	display: none;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.popup:target:before{
	display: block;
}
.window{
	position: fixed;
	left: 20%;
	top: -50%;
	z-index: 11;
	width: 60%;
	height: 60%;
	background: #ffffff;
	transform: translate(0, -500%);
	transition: transform 0.3s ease-out;
}
.popup:target .window{
	transform: translate(0, 0);
	top: 10%;
}
.close img{
	position: fixed;
	top: -17px;
	right: -17px;
	max-width: 15px;
	height: 15px;
}
@media screen and (max-width: 1300px){
	.nav{
		clear: both;
		display: block;
		float: left;
		width: 33%;
		margin: 2em auto 0 auto;
	}
	.nav li{
		display: block;
		width: 65%;
		margin: 0 auto;
	}
	.nav li:first-child{
		border-top: 1px solid #888583;
	}
	.nav li:first-child a{
		border-top: 1px solid #fff9ef;
	}
	.nav li:last-child{
		margin: auto;
	}
	.text{
		margin-top: 117px;
	}
	.characters li{
		float: left;
		width: 31%;
		margin-right: 3.3%;
		text-align: center;
	}
	.characters li:nth-of-type(3){
		margin-right: 0;
	}
	.popup:target .window{
		top: 25%;
	}
/* madal window for screen 769px and more*/
	.window{
		height: 70%;
	}
	.popup:target .window{
		top: 15%;
	}
}
@media (max-width: 768px){
	.logo{
		width: 100%;
		background: none;
	}
	.logo a{
		padding: 15%;
	}
	.nav{
		position: absolute;
		top: 0;
		width: 100%;
		margin: 0;
	}
	.nav li{
		display: inline-block;
		width: 31.7297%;
	}
	.nav li:first-child,
	.nav li:first-child a{
		border-top: none;
	}
	.nav li:hover{
	background-position: 0 100%;
}
	.text{
		margin-top: 27%;
	}
	.column-position{
		min-width: 100%;
	}
/* madal window for screen 601px and more*/
	.window{
		left: 15%;
		width: 70%;
		height: 70%;
	}
		.popup:target .window{
		top: 10%;
	}
}
@media (max-width: 600px){
	.logo a{
		padding: 23%;
	}
	.nav li{
		width: 31.7297%;
	}
	.nav li:first-child{
		border-top: none;
	}
	.text{
		margin-top: 45%;
	}
	/* madal window for screen 401px and more*/
	.popup:target .window{
		top: 15%;
	}
		.window{
		left: 5%;
		width: 90%;
		height: 70%;
	}
}
@media (max-width: 400px){
	.logo a{
		padding: 20%;
	}
	.nav li{
		font-size: 0.750em;
		width: 31.7297%;
	}
	.nav li:first-child{
		border-top: none;
	}
	.characters li,
	.characters li:nth-of-type(3){
		margin-right: 4%;
		width: 48%;
	}
	.characters li:nth-of-type(2),
	.characters li:nth-of-type(4),
	.characters li:nth-of-type(6){
		margin-right: 0;
	}
}
.mast{
	z-index: -10;
}
.characters li:last-child{
	margin-right: 0;
}
.characters img{
	max-width: 100%;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	margin: 0 auto 0.625em;
}
.page-about{
	min-height: 31.250em;
}
	/*COSMETIC*/

a:hover{
	color: #df3030;
	transition: 0.23s ease-in-out;
}
.text p{
	text-align: left;
}
.photos strong{
	background: url("../images/bg.png");
	padding: 0 1em;
}
.close img:hover{
	transition: 0.13s ease-in-out;
	transform: rotate(90deg);
}